body {
    margin: 0px;
    background-color: #ffcc66;
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* .wrapper {
    background-color: #ffffff;
    width: 80vw;
    height: 90vh;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
} */

.nav {
    background-color: #f2f2f2;
    width: 30vw;
    height: 90vh;
    display: inline-block;
    order: 0;
    left: 0;
    text-align: center;
}

.heading {
    width: 20vw;
    display: inline-block;
    margin: 2.03vw auto;
    font-size: 19px;
    text-align: left;
}

.addCard {
    display: inline-block;
}
.main {
    background-color: #ffffff;
    width: 49vw;
    height: 90vh;
    display: block;
    order: 1;
    text-align: center;
}

.card {
    width: 23vw;
    height: 22vh;
    background-color: #ffffff;
    margin: 2.5vw auto;
    text-align: left;
}

.card img {
    padding: 1vw;
}

.card .card-number,
.card .expir-date {
    display: block;
    padding: 1vw;
    font-size: 16px;
}

.main .heading {
    width: 30vw;
    display: inline-block;
    text-align: left;
}

.bal-total,
.icon,
.trans,
.balance {
    display: inline-block;
}

.icon {
    padding: 1.2vw;
    padding-left: 0;
}
.minus-transaction,
.trans-name,
.trans-desc {
    display: block;
}

.trans-name,
.trans-desc {
    padding-top: .25vw;
    padding-bottom: .25vw;
}

hr {
    margin-top: 2vw;
    margin-bottom: 2vw;
    width: 36vw;
}
.minus-transaction {
    width: 36vw;
    text-align: left;
    margin: 0 auto;
    position: relative;
}

.balance {
    right: 0;
    position: absolute;
    padding: 1.2vw
}