@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto');
body {
    margin: 48px 60px;
    background-color: #ffcc66;
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: #707070;
    font-size: 18px;
    letter-spacing: .5px;
}


/* .wrapper {
    background-color: #ffffff;
    width: 80vw;
    height: 90vh;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
} */

.nav {
    background-color: #f2f2f2;
    width: 360px;
    height: 700px;
    display: inline-block;
    order: 0;
    left: 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.heading {
    width: 210px;
    display: inline-block;
    margin: 55.3px 11px 55px 55.1px;
    text-align: left;
    font-size: 24px;
    letter-spacing: 1.01px;
}

.addCard {
    display: inline-block;
    fill: #c6cce2;
    margin-right: 54px;
}

.add {
    width: 20px;
    height: auto;
}
.main {
    background-color: #ffffff;
    width: 520px;
    height: 700px;
    display: block;
    order: 1;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.heading-main {
    width: 210px;
    display: inline-block;
    margin: 55px 75px 33px 25px;
    text-align: left;
    font-size: 24px;
    letter-spacing: 1px;
}
.card {
    width: 243px;
    height: 153px;
    background-color: #ffffff;
    margin: 0px auto 30px;
    text-align: left;
}

.card img {
    padding: 1.5vw;
}

.card .card-number,
.card .expir-date {
    display: block;
    padding: 7px 19px;
    font-size: 16px;
}

.card .card-number {
    font-size: 1.6vw;
}

.card .expir-date {
    color: #b3b3b3;
    font-size: 1.4vw;
}

.main .heading {
    width: 24vw;
    display: inline-block;
    text-align: left;
}

.bal-total,
.icon,
.trans,
.balance-minus,
.balance-add {
    display: inline-block;
}

.trans {
    width: 24vw;
}

.bal-total {
    font-size: 36px;
    color: #444750;
    font-weight: 700;
}

.balance-minus {
    color: #8393ca;
    font-size: 1.6vw;
    text-align: right;
    vertical-align: 1vw;
    position: relative;
    display: inline;
    font-weight: 600;
}

.balnce-add {
    color: #66cc33;
    font-size: 18px;
}

.icon {
    padding: 1.2vw;
    padding-left: 0;
}

.minus-transaction,
.trans-name,
.trans-desc {
    display: block;
}

.trans-name,
.trans-desc {
    padding-top: .25vw;
    padding-bottom: .25vw;
}

.trans-name {
    color: #333333;
    font-size: 1.6vw;
    font-weight: 600;
}

.trans-desc {
    color: #b4b4b4;
    font-size: 1.3vw;
}

hr {
    margin-top: 2vw;
    margin-bottom: 2vw;
    width: 36vw;
}

.minus-transaction {
    width: 36vw;
    text-align: left;
    margin: 0 auto;
    position: relative;
}

.balance {
    right: 0;
    position: absolute;
    padding: 1.2vw
}